---
import styles from './SchedulePeriodRoot.module.scss'
import type {RouteSchedule, RoutesComments} from '../../data/schedule';
import ScheduleTable from '../ScheduleTable/ScheduleTable.astro';
import ScheduleComment from '../ScheduleComment/ScheduleComment.astro';
import SchedulePeriodSelect
  from '../SchedulePeriodSelect/SchedulePeriodSelect.astro';
import Section from '../Section/Section.astro';

interface Props {
  title: string;
  switchAt: string;
  switchAtLabel: string;
  currentRoutes: RouteSchedule[];
  currentComments: RoutesComments[];
  oldRoutes?: RouteSchedule[];
  oldComments?: RoutesComments[];
}


const {
  title,
  switchAt,
  switchAtLabel,
  currentRoutes,
  currentComments,
  oldRoutes = [],
  oldComments,
} = Astro.props;

const hasOld = oldRoutes.length > 0;
const isAfterCutoff = new Date() >= new Date(switchAt);
const showToggle = hasOld && !isAfterCutoff;
---

<div
  class={styles.main}
  data-schedule-period-root
  data-schedule-switch-at={switchAt}
  data-schedule-has-old={hasOld ? 'true' : 'false'}
>
  <Section
    title={title}
    subtitle="Расписание"
    ariaName="title-block"
    isInfo
    isH1
  >
    {showToggle && (
      <SchedulePeriodSelect switchAtLabel={switchAtLabel} />
    )}
  </Section>

  <div
    data-schedule-period="old"
  >
    <div class={styles.inner}>
      <ScheduleTable routes={oldRoutes} />
      <ScheduleComment comments={oldComments ?? currentComments} />
    </div>
  </div>

  <div
    data-schedule-period="current"
    hidden
  >
    <div class={styles.inner}>
      <ScheduleTable routes={currentRoutes} />
      <ScheduleComment comments={currentComments} />
    </div>
  </div>
</div>