---
import DocsModule from './Docs.module.scss'
import Link from "../Link/Link.astro";
import type {News} from "../../data/news";
import type { Links } from "../../data/links";

interface Props {
  links: Links[]; // Исправлено: массив объектов Links
  numberDocsItems?: number
}

const {links,   numberDocsItems} = Astro.props

let itemsLink: Links[]; // Исправлено: тип изменён на Links[]

itemsLink =
  numberDocsItems !== undefined
    ? links.slice(0, numberDocsItems)
    : links
---

<ul class={DocsModule.linkList}>
  {itemsLink.map(({href, title}) => (
    <li class={DocsModule.linkList__item}>
      <Link
        href={href}
        label={title}
        target="_blank"
        rel="noopener"
        ariaLabel={`${title}, откроется в новой вкладке`}
      />
    </li>
  ))}
</ul>

