---
import styles from './header.module.scss'
import Logo from "../../components/Logo/Logo.astro";
import Link from "../../components/Link/Link.astro";
---

<header class={styles.header}>
  <div class={`${styles.header__container} container`}>
    <div class={styles.header__logo}>
      <Logo />
    </div>
    <div class={styles.header__actions}>
      <div>
        <p>Приемная</p>
        <Link href="tel:+78136846750" label="+7 (81368) 46-750"/>
      </div>
      <div>
        <p>Диспетчерская</p>
        <Link href="tel:+78136846750" label="+7 (81368) 46-750"/>
      </div>

      <!--<Link href="/about/contacts" label="Купить билеты" isButton=true/>-->
    </div>
    <div class={styles.header__menu}>
      тут будет меню
    </div>
  </div>
</header>