---
import Logo from "../../components/Logo/Logo.astro";
import Link from "../../components/Link/Link.astro";
import Menu from "../../components/Menu/Menu.astro";
import styles from './Header.module.scss'
---

<header class={styles.header} data-header>
  <div class={`${styles.header__container} container`}>
    <div class={styles.header__logo}>
      <Logo />
    </div>
    <div class={styles.header__actions}>
      <div>
        <p>Приемная</p>
        <Link
          href="tel:+78136846750"
          label="+7 (81368) 46-750"
          className={styles.header__phone}
        />
      </div>
      <div>
        <p>Диспетчерская</p>
        <Link
          href="tel:+78136846756"
          label="+7 (81368) 46-756"
          className={styles.header__phone}
        />
      </div>

      <!--<Link href="/about/contacts" label="Купить билеты" isButton=true/>-->
    </div>
    <div class={styles.header__menu}>
      <Menu />
    </div>
    <button
      class={styles.header__burger}
      aria-label="Открыть меню"
      aria-expanded="false"
      type="button"
      data-burger
    >
      <span class={styles.header__burgerLine}></span>
      <span class={styles.header__burgerLine}></span>
      <span class={styles.header__burgerLine}></span>
    </button>
  </div>

  <div class={styles.header__overlay} data-overlay aria-hidden="true"></div>
  <div class={styles.header__mobilePanel} data-mobile-panel aria-label="Мобильное меню">
    <Menu mobile={true} />
    <div class={styles.header__mobilePhones}>
      <div>
        <p>Приемная</p>
        <a href="tel:+78136846750" class={styles.header__mobilePhone}>+7 (81368) 46-750</a>
      </div>
      <div>
        <p>Диспетчерская</p>
        <a href="tel:+78136846756" class={styles.header__mobilePhone}>+7 (81368) 46-756</a>
      </div>
    </div>
  </div>
</header>