---
interface Props {
  newsList: []
}

const {newsList} = Astro.props

import Link from '../Link/Link.astro'
import styles from './News.module.scss'
---

<ul class={styles.newsList}>
  {newsList.map(({ date, description,  href, important, ulList}) => (
    <li class={styles.newsItem}>
      <time datetime={date} class={styles.newsDate}>
        {new Date(date).toLocaleDateString('ru-RU')}
      </time>
      <div class=`${styles.newsText} ${important ? styles.important : ''}`>
        <p>{description}</p>
        {ulList && (
          <ul>
            {ulList.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        )}
        {href && (<Link href={href}/>)}
      </div>
    </li>
  ))}
</ul>