---
import styles from './CardPrice.module.scss'

import type {PriceCard} from '../../data/driving-school'

interface Props {
  prices: PriceCard[]
}

const {prices = []} = Astro.props
const isTwoCards = prices.length === 2
---

<div
  class:list={[styles.cardPrice, isTwoCards && styles.cardPriceTwo]}
>
  {
    prices.map((priceItem) => {
      const {category, price, termOfStudy} = priceItem
      return (
        <article class={styles.item}>
          <header class={styles.header}>
            {category.map((cat) => (
              <div class={styles.categoryBlock}>
                <h2 class={styles.title}>{cat.description}</h2>
                {cat.note &&
                  <p class={styles.note}>{cat.note}</p>}
              </div>
            ))}
          </header>
          <div class={styles.content}>
            <div class={styles.block}>
              <div class={styles.name}>Стоимость*</div>
              <p class={styles.price}>{price}</p>
            </div>
            <div class={styles.block}>
              <div class={styles.name}>Срок обучения</div>
              <p class={styles.termOfStudy}>{termOfStudy}</p>
            </div>
          </div>
        </article>
      )
    })
  }
</div>
