---
import styles from './Footer.module.scss'
import Logo from "../../components/Logo/Logo.astro";
import Link from "../../components/Link/Link.astro";
---

<footer class={styles.footer} data-footer>
  <div class={`${styles.footer__container} container`}>
    <div class={styles.footer__left}>
      <Logo />
      <p class={styles.footer__copyright}>© {new Date().getFullYear()} Все права защищены</p>
    </div>
    <div class={`${styles.footer__right} &{styles.contacts}`}>
      <ul class={styles.contacts__list}>
        <li class={styles.contacts__item}>
          <p>Телефон:</p>
          <Link href="tel:+78136846750" label="+7(81368)46-750" />
        </li>
        <li class={styles.contacts__item}>
          <p>Email:</p>
          <Link href="mailto:kpap@inbox.ru" label="kpap@inbox.ru"/>
        </li>
        <li class={styles.contacts__item}>
          <p>Адрес:</p>
          <p>г. Кириши, пр. Победы д.20</p>
        </li>
      </ul>
    </div>
  </div>
</footer>