---
interface Props {
  href?: string;
  label?: string;
  className?: string;
}

const {
  href,
  label = 'Oзнакомиться с изменениями можно по ссылке',
  className = '',
  isButton = false
} = Astro.props;

import styles from './Link.module.scss'
---

{href ? (
<a
  href={href}
  class={`${styles.link} ${className ? className : ''}`}
>
  {label}
</a>) : (
<button class={`${styles.button} ${className ? className : ''}`}>{label}</button>)}
