---
interface Props {
  href?: string;
  label?: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  target?: string;
  rel?: string;
  isButton?: boolean;
  style?: 'link' | 'button';
  type?: 'button' | 'submit' | 'reset';
}

const {
  href,
  label = 'Ознакомиться с изменениями можно по ссылке',
  className = '',
  ariaLabel,
  title,
  target,
  rel,
  style = 'link',
  isButton = false,
  type = 'button',
} = Astro.props;

import styles from './Link.module.scss'
---

{href && !isButton ? (
  <a
    href={href}
    class= {`${style === 'link' ? styles.link : styles.button} 
            ${className ? className : ''}`}
    aria-label={ariaLabel}
    title={title}
    target={target}
    rel={rel}
  >
    <slot>{label}</slot>
  </a>
) : (
  <button
    class={`${styles.button} ${className ? className : ''}`}
    aria-label={ariaLabel}
    title={title}
    type={type}
  >
    <slot>{label}</slot>
  </button>
)}
