---
interface LinkProps {
  href: string;
  isButton?: false;
  type?: never;
  label?: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  target?: string;
  rel?: string;
  style?: 'link' | 'button';
}

interface ButtonProps {
  href?: never;
  isButton: true;
  type?: 'button' | 'submit' | 'reset';
  label?: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  target?: never;
  rel?: never;
  style?: never;
}

type Props = LinkProps | ButtonProps;

const {
  href,
  label = 'Ознакомиться с изменениями можно по ссылке',
  className = '',
  ariaLabel,
  title,
  target,
  rel,
  style = 'link',
  isButton = false,
  type = 'button',
} = Astro.props;

import styles from './Link.module.scss'
---

{!isButton ? (
  <a
    href={href}
    class= {`${style === 'link' ? styles.link : styles.button} 
            ${className ? className : ''}`}
    aria-label={ariaLabel}
    title={title}
    target={target}
    rel={rel}
  >
    <slot>{label}</slot>
  </a>
) : (
  <button
    class={`${styles.button} ${className ? className : ''}`}
    aria-label={ariaLabel}
    title={title}
    type={type}
  >
    <slot>{label}</slot>
  </button>
)}
